.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log

docker-compose.override.yml
.env


backend/target/
backend/build/
backend/.mvn/timing.properties
backend/**/*.class
backend/**/*.log
backend/.classpath
backend/.project
backend/.settings/
backend/src/main/resources/application-local.yml

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/lib/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/src/environments/environment.development.ts
frontend/src/environments/environment.local.ts