spring:
  application:
    name: recruitment-task

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/recruitment_db}
    username: ${DB_USER:user}
    password: ${DB_PASS:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379
  cache:
    type: redis

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/recruitment-realm}

server:
  port: 8080